<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include header.html %>
    <h1><%= title %></h1>
    <div><p><%= __('Idioma:')%> </p>
      <% getLocales().forEach(locale => { %>
        <a href='/change-locale/<%= locale %>' ><%= locale %> </a> &nbsp;
     <% }) %>
    </div>
    <p><%= __('Bienvenidos a ')%> <%= title %></p>
    <br>
    <p><%= __('El valor de los tags para clasificar los anuncios son:') %></p>
    <p><%valorTags.forEach(tag => {  %></p>
      <p><%= tag %></p>
    <p><% });%></p>
    <br>
    <p><%= __('Resutado de la búsqueda de anuncios según los filtros aplicados en')%><%= title %></p>
    <p><%= valorFiltro %></p>
    <br>
    <h2><%= __('Anuncios')%></h2>
    <p><%valorQuery.forEach(article => { %></p>
      <p><%= __('Nombre del articulo:')%> <%=article.nombre %></p>
      <p><%= __('Precio del articulo:')%> <%=article.precio %></p>
      <p><%if(article.venta === true){ %> </p>
          <p><%= __('Articulo en venta')%></p>
      <p><% }else{%></p>
          <p><%= __('Articulo para comprar')%></p>
      <p><% }%></p>

      <p><%= __('Tags de clasificación:')%>  <%= article.tags %></p>
      
      <img src= <%= article.foto %> alt=<%= __('Articulo:')%>  height="300">
      <br>
    <p><% });%> </p>    

  </body>
</html>
